<form class="login">
	<head>
  	<link rel="stylesheet" type="text/css" href="colors.css">
	</head>
    <h1 class="login-title">MINI_PROJECT_LOGIN 2</h1>

    <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>
    
    <input type="text" class="login-input"  id="email" name="email" placeholder="Email Adress" autofocus>
    <input type="password" class="pw-input"  id="pw" name="pw" placeholder="Password">

    <input type="submit" value="LOGIN" class="login-button" formaction="/login"  formmethod="post">
 
    <input type="submit" value="SIGNUP" class="signup-button" formaction="/register"  formmethod="post" formtarget ="dummyframe">

    <h2 class="login-title">Registration Successful</h2>

</form>