<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
    <h1>This is a Homepage</h1>
<body>
<<<<<<< HEAD
   
    HI!

    <br>
    <br>
    <button class="btn-Room1">Room1</button>
    <br>
    <br>
    <button class="btn-Room2">Room2</button>
    <br>
    <br>
    <button class="btn-Room3">Room3</button>
    <br>
    <br>
    
=======
    <title>
    <p>{{screamIt welcomeMessage}}</p>
    {{> footer}}
>>>>>>> 89f148d84fd84f9152dc75004b633036f0a06422
</body>

</html>