<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>humidity</title>
</head>

<body>
    {{> header}}
    <p>Plot the humidity</p>
    <button type="room_1">Room 1</button>
    <button type="room_2">Room 2</button>
    <button type="room_3">Romm 3</button>
    {{> footer}}
</body>

</html>