<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="plot.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        body {
            background: #2d343d;
        }
        .image{
            vertical-align: bottom;
            display: block;
        }
        .buttonlogout{
            display: inline-block;
            border-radius: 4px;
            background-color: #f0776c;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 150px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;

        }
        .button {
            display: inline-block;
            border-radius: 4px;
            background-color: #f0776c;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
            margin-left: 100;
            vertical-align: top;
        }
        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }
        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

        .button:hover span {
            padding-right: 25px;
        }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }
    </style>
</head>




<form>
    <body>
    <div>
        <a href="https://plot.ly/~Mini-Project/10/" target="_blank" title="basic-area" style="display: block; text-align: center;"><img src="https://plot.ly/~Mini-Project/10.png" alt="basic-area" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
        <script data-plotly="Mini-Project:10" src="https://plot.ly/embed.js" async></script>
        <button class="button" style="left: 1050px; position: absolute; top: 500px;" type="button" formaction = "/tohome" formmethod = "POST">Back</button>
    </div>
    <body>
</form>


