<header>
    <h1>{{pageTitle}}</h1>
    <p><a href = '/'>Back to Homepage</a></p>
    <p><a href = '/temperature'>Temperature</a></p>
    <p><a href = '/humidity'>Humidity</a></p>

    <button type="room_1">Room 1</button>
</header>
